/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1100px;
    margin: auto;
}
header{
    background-image: url(pattern.png);
    background-size: 1100px;
    background-color: aqua;
}
.testa{
    width: 100px;
}

span{
    background-color: yellow;
}
p{
    margin-top: 15px;
    margin-bottom: 15px;
}
ul{
    margin-top: 10px;
    margin-left: 20px;
}
table{
    margin-top: 15px;
}
thead{
    background-color: blue;
    color: white;
}
.dispari{
    background-color: aquamarine;
}
.pari{
    background-color: azure;
}
h3{
    color: lightgrey;
}
.finale{
    font-size: large;
color: white;
background-image: url(monitor.jpg);
width: 300px;
height: 220px;
}
.fine{
    font-size: large;
    color: white;
    background-image: url(graph.jpg);
    width: 300px;
    height: 220px;
}